AIPASS_COOKIE=""
AIPASS_HOST="127.0.0.1"
AIPASS_ORIGIN="https://de.aipass.net"
AIPASS_PORT="3001"
AIPASS_CORS_ORIGIN=""
NEXT_PUBLIC_PROXY_URL="http://localhost:3001"
NEXT_PUBLIC_WEB_URL="http://localhost:3000"
POSTHOG_API_KEY=""
POSTHOG_HOST="https://us.i.posthog.com"
